.section{
    min-height: 80vh;
    background-image: linear-gradient(to bottom, #71AC57, #36723e);
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutmain{
    border-radius: 30px;
    border: none;
    background-color: rgb(128, 240, 128);
    text-align: center;
    padding: 4%;
    margin: 3%;
}
.about{
    font-size:200%;
    font-family: 'roboto', cursive;
    font-weight: 700;
}

@media screen and (max-width: 850px) {
    .about {
      font-size: 1.5rem ;
    }
  }